<div id="shopify-section-cart" class="shopify-section section-cart-page">
  <section class="section-cart-page" data-section-type="cart-page">
    <div class="{% if section.settings.full_width %}wrapper {% else %} page-width {% endif %} page-margin">
      <h1 class="section-header text-center">{{ 'cart.general.title' | t }}</h1>
      <div {% if section.settings.fullwidth %}wrapper {% else %} page-width {% endif %}>
        <form action="/cart" method="post" novalidate>

          <div class="grid">
            <div class="grid__item medium-up--two-thirds cart-left-side">
              {% if cart.item_count > 0 %}
              <table class="responsive-table">
                <thead class="small--hide border-top border-bottom">

                  <tr>
                    <th colspan="2">{{ 'cart.label.product' | t }}</th>
                    <th>{{ 'cart.label.price' | t }}</th>
                    <th>{{ 'cart.label.quantity' | t }}</th>
                    <th>{{ 'cart.label.total' | t }}</th>

                </thead>
                <tbody>

                  {% for item in cart.items %}

                  {% comment %}

                  Cart Item Template
                  =====================
                  The data-label attributes on <td> elements are mobile-friendly
                  helpers used for responsive-table labels
                  {% endcomment %}

                  <tr class="responsive-table-row border-bottom">

                    <td data-label="{{ 'customer.order.product' | t }}">

                      {% if item.image != blank %}
                      <a href="{{ item.url | within: collections.all }}">
                        {{ item | img_url: 'compact' | img_tag: item.title }}
                      </a>
                      {% endif %}

                    </td>
                    <td align="left">
                      <a href="{{ item.url }}">{{ item.product.title }}</a>

                      {% unless item.product.has_only_default_variant %}
                      <p>{{ item.variant.title }}</p>
                      {% endunless %}

                      {% comment %}<p>{{ item.vendor }}</p>{% endcomment %}

                      {%- assign property_size = item.properties | size -%}

                      {% if property_size > 0 %}
                      {% for p in item.properties %}
                      {% unless p.last == blank %}
                      {{ p.first }}:

                      {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                      {{ p.last }}
                      {% endif %}

                      {% endunless %}
                      {% endfor %}
                      {% endif %}

                      <br />
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                        <small>{{ 'cart.general.remove' | t }}</small>
                      </a>
                    </td>
                    <td data-label="{{ 'cart.label.price' | t }}">
                      {% if item.original_line_price != item.line_price %}
                      <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                      <span class='hulkapps-cart-item-price' data-key='{{item.key}}'>{{ item.price | money }}</span>
                      <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                      <s>{{ item.original_price | money }}</s>
                      {% else %}
                      <span class='hulkapps-cart-item-price' data-key='{{item.key}}'>{{ item.price | money }}</span>
                      {% endif %}
                    </td>
                    <td class="cart__item__quantity" data-label="{{ 'cart.label.quantity' | t }}">
                      <input type="number"
                             name="updates[]"
                             id="updates_{{ item.key }}"
                             value="{{ item.quantity }}"
                             min="0"
                             aria-label="{{ 'cart.general.item_quantity' | t }}">
                    </td>
                    <td data-label="{{ 'cart.label.total' | t }}">
                      <span class='hulkapps-cart-item-line-price' data-key='{{item.key}}'>{{ item.line_price | money }}</span>
                    </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>



              {% comment %}
              {% if settings.cart_notes_enable %}
              <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
              {% endif %}
              {% endcomment %}
              <!-- <div>
<p>{{ 'cart.general.subtotal' | t }}</p>
<p><span class='hulkapps-cart-original-total'>{{ cart.total_price | money }}</span></p>
{% if cart.total_discounts > 0 %}
<p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
{% endif %}
<p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
</div>-->
              <div class="grid cart__footer">
                {% if section.settings.cart_notes_enable %}
                <div class="grid__item medium-up--one-half cart-note">
                  <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label>
                  <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
                </div>
                {% endif %}
                <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">
                  <div class="supports-cookies">
                    <input type="submit" name="update" value="{{ 'cart.general.update' | t }}" class="check-out">
                  </div>
                </div>
              </div>
              {% else %}
              <h1>{{ 'cart.general.title' | t }}</h1>

              {% comment %}
              Cart empty state
              {% endcomment %}
              <div class="supports-cookies">
                <p>{{ 'cart.general.empty' | t }}</p>
                <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
              </div>

              {% comment %}
              Cart no cookies state
              ---------------------
              Browser cookies are required to use the cart. If cookies aren't enabled in the
              browser a message is displayed prompting the user to enable them.
              {% endcomment %}
              <div class="supports-no-cookies">
                <p>{{ 'cart.general.cookies_required' | t }}</p>
              </div>
              {% endif %}


            </div>
            <div class="grid__item medium-up--one-third cart-right-side">


              <div class="cart__sidebar">
                {% if cart.item_count > 0 %}
                <p class="cart__sidebar__subtotal desktop-hide mobile--hide">
                  <span class="cart__sidebar__subtotal__title uppercase left">{{ 'cart.general.subtotal' | t }}</span>
                  <span class="cart__sidebar__subtotal__money money uppercase right"><span>{{ cart.total_price | money }}</span></span>
                  {% comment %}
                  {% if cart.total_discounts > 0 %}
                  <span>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</span>
                  {% endif %}
                  <span>{{ 'cart.general.shipping_at_checkout' | t }}</span>
                  {% endcomment %}
                </p>
                <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
                <p class="cart__sidebar__subtotal small--hide medium--hide">
                  <span class="cart__sidebar__subtotal__title uppercase left">{{ 'cart.general.subtotal' | t }}</span>
                  <span class="cart__sidebar__subtotal__money money uppercase right"><span>{{ cart.total_price | money }}</span></span>
                  {% comment %}
                  {% if cart.total_discounts > 0 %}
                  <span>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</span>
                  {% endif %}
                  <span>{{ 'cart.general.shipping_at_checkout' | t }}</span>
                  {% endcomment %}
                </p>
                <hr class="small--hide medium--hide">
                {% endif %}
                <ul class="cart__sidebar__list">
                  <li>Free Shipping Worldwide</li>
                  <li>30-Day Returns</li>
                  <li>International Warranty</li>
                  <li>100% Secure Checkout</li>
                </ul>


                <hr>
                <div class="cart__sidebar__content rte">
                  <p>We ship free worldwide and we cover all duties and taxes.<br>Parcels are sent with courier service (mainly FedEx). <br>In-stock items ship within 1-2 business days and will arrive within 1-5 business days from shipment.<br>We are not able to deliver to PO Boxes or Parcel Lockers.</p>
                </div>
              </div>
            </div>


          </div>
        </form>
      </div>
    </div>
  </section>
</div>


{% schema %}
{
"name": {
"en": "Cart page",
"de": "Warenkorb-Seite",
"fr": "Page du panier",
"it": "Pagina del carrello",
"ja": "カートページ",
"es": "Página de carrito",
"pt-BR": "Página do carrinho"
},
"settings": [
{
"type": "checkbox",
"id": "full_width",
"label": {
"en": "Wide display",
"de": "Breitbild-Display",
"fr": "Affichage large",
"it": "Visualizzazione ampia",
"ja": "ワイドディスプレイ",
"es": "Pantalla ancha",
"pt-BR": "Exibição ampla"
}
},
{
"type": "checkbox",
"id": "cart_notes_enable",
"label": {
"en": "Enable cart notes",
"de": "Warenkorb-Notifikationen erlauben",
"fr": "Activer les notes de panier",
"it": "Abilita note carrello",
"ja": "カートメモを有効にする",
"es": "Habilitar notas de carrito",
"pt-BR": "Ativar observações sobre o carrinho"
},
"default": false
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
