<div class="rte">
  {{ page.content }}
</div>

<div class="grid">
  <div class="grid__item medium-up--six-twelfths medium-up--push-three-twelfths contact_form_font">
    {% form 'contact' %}

    {% if form.posted_successfully? %}
    <p class="form-success">
      {{ 'contact.form.post_success' | t }}
    </p>
    {% endif %}

    {{ form.errors | default_errors }}
    <div class="grid">
      <div class="grid__item medium-up--two-twelfths ">
        <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
      </div>
      <div class="grid__item medium-up--ten-twelfths ">
        <input type="text"
               name="contact[name]"
               id="ContactFormName"
               placeholder="{{ 'contact.form.name' | t }}"
               value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
      </div>
    </div>

    <div class="grid">
      <div class="grid__item medium-up--two-twelfths ">
        <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
      </div>
      <div class="grid__item medium-up--ten-twelfths ">
        <input type="email"
               name="contact[email]"
               id="ContactFormEmail"
               placeholder="{{ 'contact.form.email' | t }}"
               value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off">
      </div>
    </div>

    <div class="grid">
      <div class="grid__item medium-up--two-twelfths ">
        <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
      </div>
      <div class="grid__item medium-up--ten-twelfths ">
        <input type="tel"
               name="contact[phone]"
               id="ContactFormPhone"
               placeholder="{{ 'contact.form.phone' | t }}"
               value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
               pattern="[0-9\-]*">
      </div>
    </div>


    <div class="grid">
      <div class="grid__item medium-up--two-twelfths ">
        <label for="ContactFormFlavor">Type</label>
      </div>
      <div class="grid__item medium-up--ten-twelfths ">
        <select id="ContactFormFlavor" name="contact[Flavor]">
          <option>Enquiry</option>
          <option>Suggestion</option>
        </select>
      </div>
    </div>

    <div class="grid">
      <div class="grid__item medium-up--two-twelfths ">
        <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
      </div>
      <div class="grid__item medium-up--ten-twelfths ">
        <textarea rows="10"
                  name="contact[body]"
                  id="ContactFormMessage"
                  placeholder="{{ 'contact.form.message' | t }}">
          {% if form.body %}
          {{ form.body }}
          {% endif %}
        </textarea>
      </div>
    </div>

    <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

    {% endform %}
  </div>
</div>
</div>